.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.87);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.87);
}

.header__nav {
  min-width: 45px;
  max-width: 60px;
  width: 100%;
}

.header__title {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.87);
}

.wrapper__main {
  height: 100vh;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-panels {
  min-width: 300px;
  max-width: 350px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sheet {
  list-style: none;
  max-width: 230px;
  width: 100%;
  padding-bottom: 30px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.87);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.87);
}

.sheet__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.sheet__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sheet__img {
  max-width: 30px;
  min-width: 25px;
  width: 100%;
}

.sheet__name {
  padding-left: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.541327);
}

.draw-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.canvas {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.87);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.87);
}

.size {
  list-style: none;
  max-width: 230px;
  width: 100%;
  padding: 30px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.87);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.87);
}

.size__item {
  font-size: 24px;
  line-height: 30px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.541327);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  text-align: center;
}

.size__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */